name: Docker Image CI


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: test
      env:
        TS: ${{github.run_number}} 
      run: echo "$TS"
    - uses: actions/checkout@v2
    - name: DockerLogin
      run: docker login -u=${{ secrets.DOCKER_USER }} -p=${{ secrets.DOCKER_PASS }}
    - name: Build the Docker image
      env:
        TS: ${{github.run_number}}
      run: docker build . --file Dockerfile --tag nimblerobotics/nrpdfutils:$TS
    - name: Push docker image to dockerhub
      run: docker push nimblerobotics/nrpdfutils:$TS
