name: Docker Image CI


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
        TS: $(date +%s)
    steps:
    - name: test
      run: echo "$TS"
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag nrpdfutils:$TS
    - name: DockerLogin
      run: docker login -u=${{ secrets.DOCKER_USER }} -p=${{ secrets.DOCKER_PASS }}
    - name: Push docker image to dockerhub
      run: docker push nimblerobotics/nrpdfutils:$TS
